@font-face {
  font-family: 'RetroComputer';
  src: url('../fonts/RetroComputer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
  @font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url('../fonts/AdobeDevanagari-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  .selected-place {
   position: absolute;
    top:220px;
    left:100px;
    width: 50px;
    height: 50px;
  }

  div.planets {
    display: inline-block;
    height: 50px;
  }
  .planets-info-wrapper {
    position: absolute;
    left: 22.1%;
    width: 960px;
    height: 600px;
    background-image: url("../images/bubble-background.png");
    background-repeat: no-repeat;
    //opacity: 0.6;
    .planets-info {
      padding: 2.5% 0 30% 12%;
      .overwiev {
        padding-top: 5%;
        color: white;
        font-family: "AdobeDevanagari-Regular",sans-serif;
        span {
          color: hotpink;
          font-family: "AdobeDevanagari-Regular",sans-serif;
        }
      }
      .close {
        font-family: "RetroComputer",sans-serif;
        color: red;
        font-size: 120%;
        text-align: right;
        padding-right: 11%;
        opacity: 1;
        &:hover {
          cursor: pointer;

        }
      }
      ul {
        li {
          list-style-type: none;
          color: white;
          font-size: 20px;
          vertical-align: top;
          margin-bottom: 2%;
          font-family: "AdobeDevanagari-Regular",sans-serif;
          span {
            color: hotpink;
            //font-family: "AdobeDevanagari-Regular",sans-serif;
          }
        }
        margin-bottom: 20%;
      }
      .slider {

        width: 95%;
        .slick-prev:before,
        .slick-next:before {
          display: none;
        }
        .slick-slide {
         img {
           display: inline-block;
           box-sizing: border-box;
           width: 90%;
           height: 90%
         }

        }
      }
    }
  }
}
