@font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url("../fonts/AdobeDevanagari-Regular.woff") format("opentype"); }
body {
  font-family: 'AdobeDevanagari-Regular', sans-serif; }
  body #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body #wrapper img {
      max-width: 100%; }
    body #wrapper a, body #wrapper a:hover {
      text-decoration: none; }
    body #wrapper .toggled {
      padding-left: 250px; }
      body #wrapper .toggled #sidebar-wrapper {
        width: 300px; }
      body #wrapper .toggled #page-content-wrapper {
        position: absolute;
        margin-right: -250px; }
    body #wrapper #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      left: 250px;
      width: 0;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background-image: url("../images/header.jpg");
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      body #wrapper #sidebar-wrapper .sidebar-nav {
        position: absolute;
        top: 35px;
        left: 6px;
        width: 170px;
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase; }
        body #wrapper #sidebar-wrapper .sidebar-nav li {
          text-align: center;
          background-color: #c8b89a;
          margin: 10px;
          border-radius: 10px;
          width: 150px;
          font-size: 20pt; }
          body #wrapper #sidebar-wrapper .sidebar-nav li:hover {
            color: #c8b89a;
            background-color: #1A171B; }
          body #wrapper #sidebar-wrapper .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #1A171B; }
            body #wrapper #sidebar-wrapper .sidebar-nav li a:hover {
              text-decoration: none;
              color: #c8b89a; }
            body #wrapper #sidebar-wrapper .sidebar-nav li a:active, body #wrapper #sidebar-wrapper .sidebar-nav li a:focus {
              text-decoration: none; }
    body #wrapper #top {
      background-image: url("../images/header.jpg");
      max-height: 75px; }
      body #wrapper #top #main-menu {
        display: inline-block;
        height: 75px;
        padding-left: 30px;
        padding-top: 16px; }
        body #wrapper #top #main-menu .fa-bars {
          color: #c8b89a;
          padding: 3%; }
      body #wrapper #top #links {
        display: inline-block;
        position: absolute;
        left: 68%;
        top: 25px; }
        body #wrapper #top #links ul li {
          list-style: none;
          display: inline-block;
          margin-right: 80px;
          font-size: 25px; }
          body #wrapper #top #links ul li a {
            color: #c8b89a; }
      body #wrapper #top #logo {
        top: 3px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        position: absolute; }
        body #wrapper #top #logo img {
          max-height: 134px; }
    body #wrapper #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px; }
      body #wrapper #page-content-wrapper .modal-dialog {
        color: #c8b89a; }
        body #wrapper #page-content-wrapper .modal-dialog .modal-content .modal-header {
          padding: 5px 10px !important; }
        body #wrapper #page-content-wrapper .modal-dialog .modal-content .modal-body form {
          font-size: 18pt; }
          body #wrapper #page-content-wrapper .modal-dialog .modal-content .modal-body form label {
            margin: 2px 7px; }
          body #wrapper #page-content-wrapper .modal-dialog .modal-content .modal-body form #btnSave {
            margin-top: 35px;
            font-size: 20pt; }
        body #wrapper #page-content-wrapper .modal-dialog .modal-content .modal-body .progress {
          height: 1.5rem; }
          body #wrapper #page-content-wrapper .modal-dialog .modal-content .modal-body .progress .progress-bar {
            font-size: 12pt; }
        body #wrapper #page-content-wrapper .modal-dialog .modal-content .modal-footer {
          font-size: 18pt; }
      body #wrapper #page-content-wrapper #menuModal .modal-header h1 {
        padding: 5px;
        font-weight: bold; }
      body #wrapper #page-content-wrapper #menuModal .modal-body h3 {
        font-weight: bold;
        font-style: italic;
        margin: -28px 0px 35px 0; }
      body #wrapper #page-content-wrapper #menuModal .modal-body .accordion .accortion-title {
        background-color: #c8b89a;
        color: #1A171B;
        font-size: 20pt;
        width: 270px;
        text-align: center;
        cursor: pointer;
        border: 2px solid #1A171B;
        margin: 10px; }
      body #wrapper #page-content-wrapper #menuModal .modal-body .accordion .infoDiv {
        border-radius: 5px;
        padding: 10px; }

@media (min-width: 488px) {
  #wrapper {
    padding-left: 0; }

  #wrapper.toggled {
    padding-left: 200px; }

  #sidebar-wrapper {
    width: 0; }

  #wrapper.toggled #sidebar-wrapper {
    width: 200px; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-top: -30px; } }

/*# sourceMappingURL=style-iva.css.map */
