@font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url('../fonts/AdobeDevanagari-Regular.woff') format('opentype');
}

$white:#fff;
$black:#000;
$beige: #c8b89a;
$menuTextColor: #1A171B;

body {
  font-family: 'AdobeDevanagari-Regular', sans-serif;

  #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    img {
      max-width:100%;
    }
    a, a:hover {
      text-decoration: none;
    }

    .toggled {
      padding-left: 250px;
       #sidebar-wrapper {
         width: 300px;
       }
       #page-content-wrapper {
         position: absolute;
         margin-right: -250px;
       }
    }

    #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      left: 250px;
      width: 0;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background-image: url('../images/header.jpg');
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;

      .sidebar-nav {
        position: absolute;
        top: 35px;
        left: 6px;
        width: 170px;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          text-align: center;
          background-color: $beige;
          margin: 10px;
          border-radius: 10px;
          width: 150px;
          font-size: 20pt;
          &:hover {
            color: $beige;
            background-color: $menuTextColor;
          }
          a {
            display: block;
            text-decoration: none;
            color: $menuTextColor;
            &:hover {
              text-decoration: none;
              color: $beige;
            }
            &:active, &:focus {
              text-decoration: none;
            }
          }
        }
      }
    }

    #top {
      background-image: url('../images/header.jpg');
      max-height: 75px;
      #main-menu {
        display: inline-block;
        height: 75px;
        padding-left: 30px;
        padding-top: 16px;
        .fa-bars {
          color: $beige;
          padding: 3%;
        }
      }
      #links {
        display: inline-block;
        position: absolute;
        left: 68%;
        top: 25px;
        ul {
          li {
            list-style: none;
            display: inline-block;
            margin-right: 80px;
            font-size: 25px;
            a {
              color: $beige;
            }
          }
        }
      }

        #logo {
          top: 3px;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          left: 50%;
          position: absolute;
          img {
            max-height: 134px;
          }
        }

    }

    #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px;
      .modal-dialog {
        color: $beige;
        .modal-content {
          .modal-header {
            padding: 5px 10px;
          }
          .modal-body {
            form {
              font-size: 18pt;
              label {
                margin: 2px 7px;
              }
              #btnSave {
                margin-top: 35px;
                font-size: 20pt;
              }
            }
            .progress{
              height: 1.5rem;
              .progress-bar{
                font-size: 12pt;
              }
            }
          }
          .modal-footer {
            font-size: 18pt;
          }
        }
      }
    }
  }
}

@media(min-width:488px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 200px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 200px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-top: -30px;
  }

}
