@font-face {
  font-family: 'RetroComputer';
  src: url('../fonts/RetroComputer.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url('../fonts/AdobeDevanagari-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
}

body {
  //.selected-place {
  //  position: absolute;
  //  top:220px;
  //  left:100px;
  //  width: 50px;
  //  height: 50px;
  //}
  .planets-info-wrapper {
    position: absolute;
    left: 18%;
    top:10%;
    width: 960px;
    height: 500px;
    background-image: url("../images/bubble-background.png");
    background-repeat: no-repeat;
    //opacity: 0.6;
    .planets-info {
      padding: 2.5% 0 30% 12%;
      .boxRow{
        padding-left: 3%;
      }
      .overwiev {
        padding-top: 5%;
        color: white;
        font-family: "AdobeDevanagari-Regular",sans-serif;
        font-size: 22px;
        span {
          color: #c8b89a;
          font-family: "AdobeDevanagari-Regular",sans-serif;
        }
      }
      .close-red {
        font-family: "RetroComputer",sans-serif;
        color: red;
        font-size: 130%;
        text-align: right;
        opacity: 1;
        padding-top: 35%;
        &:hover {
          cursor: pointer;
        }
      }
      ul {
        margin-bottom: 10%;
        li {
          list-style-type: none;
          color: white;
          vertical-align: top;
          margin-bottom: 2%;
          font-family: "AdobeDevanagari-Regular",sans-serif;
          font-size: 22px;
          span {
            color: #c8b89a;
            font-family: "AdobeDevanagari-Regular",sans-serif;
            font-size: 25px;
          }
        }
      }
      .slider {
        width: 95%;
        padding-left: 7%;
        .slick-prev:before,
        .slick-next:before {
          display: none;
        }
        .slick-slide {
          img {
            display: inline-block;
            box-sizing: border-box;
            width: 90%;
            height: 90%
          }

        }
      }
    }
  }
}
