@font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url("../fonts/AdobeDevanagari-Regular.woff") format("opentype"); }
body {
  font-family: 'AdobeDevanagari-Regular', sans-serif; }
  body .background img {
    z-index: -1;
    position: relative;
    width: 100%; }
  body #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body #wrapper img {
      max-width: 100%; }
    body #wrapper a, body #wrapper a:hover {
      text-decoration: none; }
    body #wrapper .toggled {
      padding-left: 250px; }
      body #wrapper .toggled #sidebar-wrapper {
        width: 300px; }
      body #wrapper .toggled #page-content-wrapper {
        position: absolute;
        margin-right: -250px; }
    body #wrapper #sidebar-wrapper {
      z-index: 1000;
      position: fixed;
      left: 250px;
      width: 0;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background-image: url("../images/header.jpg");
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
      body #wrapper #sidebar-wrapper .sidebar-nav {
        position: absolute;
        top: 35px;
        left: 6px;
        width: 170px;
        margin: 0;
        padding: 0;
        list-style: none; }
        body #wrapper #sidebar-wrapper .sidebar-nav li {
          text-align: center;
          background-color: #c8b89a;
          margin: 10px;
          border-radius: 10px;
          width: 150px;
          font-size: 20pt; }
          body #wrapper #sidebar-wrapper .sidebar-nav li:hover {
            color: #c8b89a;
            background-color: #1A171B; }
          body #wrapper #sidebar-wrapper .sidebar-nav li a {
            display: block;
            text-decoration: none;
            color: #1A171B; }
            body #wrapper #sidebar-wrapper .sidebar-nav li a:hover {
              text-decoration: none;
              color: #c8b89a; }
            body #wrapper #sidebar-wrapper .sidebar-nav li a:active, body #wrapper #sidebar-wrapper .sidebar-nav li a:focus {
              text-decoration: none; }
    body #wrapper #top {
      background-image: url("../images/header.jpg");
      max-height: 75px; }
      body #wrapper #top #main-menu {
        display: inline-block;
        height: 75px;
        padding-left: 30px;
        padding-top: 16px; }
        body #wrapper #top #main-menu .fa-bars {
          color: #c8b89a;
          padding: 3%; }
      body #wrapper #top #links {
        display: inline-block;
        position: absolute;
        left: 68%;
        top: 25px; }
        body #wrapper #top #links ul li {
          list-style: none;
          display: inline-block;
          margin-right: 80px;
          font-size: 25px; }
          body #wrapper #top #links ul li a {
            color: #c8b89a; }
      body #wrapper #top #logo {
        top: 3px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        position: absolute; }
        body #wrapper #top #logo img {
          max-height: 134px; }
    body #wrapper #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px; }
      body #wrapper #page-content-wrapper .planets #mercury {
        position: absolute;
        max-width: 100px;
        left: 60%;
        top: 393px;
        text-align: center; }
        body #wrapper #page-content-wrapper .planets #mercury img {
          max-width: 40px; }
      body #wrapper #page-content-wrapper .planets #venus {
        position: absolute;
        max-width: 80px;
        left: 55%;
        top: 233px; }
      body #wrapper #page-content-wrapper .planets #earth {
        position: absolute;
        max-width: 80px;
        left: 30%;
        top: 155px; }
      body #wrapper #page-content-wrapper .planets #mars {
        position: absolute;
        max-width: 65px;
        left: 20%;
        top: 280px; }
      body #wrapper #page-content-wrapper .planets #jupiter {
        position: absolute;
        max-width: 125px;
        left: 23%;
        top: 454px; }
      body #wrapper #page-content-wrapper .planets #saturn {
        position: absolute;
        max-width: 160px;
        left: 45%;
        top: 638px; }
      body #wrapper #page-content-wrapper .planets #uranus {
        position: absolute;
        max-width: 106px;
        left: 74%;
        top: 611px; }
      body #wrapper #page-content-wrapper .planets #neptune {
        position: absolute;
        max-width: 106px;
        left: 74%;
        top: 340px; }
      body #wrapper #page-content-wrapper .planets #pluto {
        position: absolute;
        max-width: 70px;
        left: 90%;
        top: 529px; }
      body #wrapper #page-content-wrapper .planets .text {
        background: #000;
        text-align: center;
        padding: 0 3px;
        margin: 10%;
        width: 100%; }
        body #wrapper #page-content-wrapper .planets .text p {
          color: #fff;
          font-size: 16px;
          text-transform: uppercase; }

@media (min-width: 488px) {
  #wrapper {
    padding-left: 0; }

  #wrapper.toggled {
    padding-left: 200px; }

  #sidebar-wrapper {
    width: 0; }

  #wrapper.toggled #sidebar-wrapper {
    width: 200px; }

  #page-content-wrapper {
    padding: 20px;
    position: relative; }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    margin-top: -30px; } }

/*# sourceMappingURL=style-iva.css.map */
