/*deni some fixes*/
@font-face {
  font-family: 'AdobeDevanagari-Regular';
  src: url("../AdobeDevanagari-Regular.otf") format("opentype"); }

body #wrapper .background .bg-mo {
  display: none; }

body #wrapper .background .bg-mo1 {
  display: none; }

body #wrapper .background img {
  z-index: -1;
  position: relative;
  width: 100%; }

body #wrapper #sidebar-wrapper {
  background-position: center; }

body #top {
  background-position: center; }
  body #top #links .modal-dialog {
    background-image: url("../images/pergament.png"); }
    body #top #links .modal-dialog .modal-content {
      background-color: transparent;
      border: none;
      padding: 50px; }
      body #top #links .modal-dialog .modal-content .history-content p {
        font-weight: bold;
        font-size: 17px; }
      body #top #links .modal-dialog .modal-content .modal-header {
        border: none;
        padding: 0; }
        body #top #links .modal-dialog .modal-content .modal-header .modal-title {
          font-size: 30px;
          padding: 5px; }
        body #top #links .modal-dialog .modal-content .modal-header .close {
          color: #ff0000;
          font-size: 50px; }
      body #top #links .modal-dialog .modal-content .modal-footer {
        border: none; }
  body #top #page-content-wrapper .planets #mercury img {
    margin-left: 11px; }
  body #top #page-content-wrapper .planets .text {
    width: 108%;
    border-radius: 7px;
    padding-top: 3px;
    margin: 10px 0 0 0; }

/*deni responsive*/
@media (max-width: 1024px) {
  .background {
    margin-top: 0px; }
    .background .bg {
      display: none; }
    .background .bg-mo1 {
      display: block !important; }
  body #wrapper #top #links ul li {
    margin-right: 40px; } }

@media (max-width: 768px) {
  body #wrapper #top #logo img {
    max-height: 100px; }
  body #wrapper #top #links ul li {
    margin-right: 20px;
    font-size: 20px; }
  body #wrapper .background {
    margin-top: -106px; }
    body #wrapper .background .bg-mo1 {
      display: none !important; }
    body #wrapper .background .bg-mo {
      display: block !important; } }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 972px;
    margin: 90px auto; } }

@media (max-width: 425px) {
  body #wrapper #top #logo {
    top: 60px; }
  body #wrapper #top #main-menu {
    padding-left: 10px;
    padding-top: 13px;
    font-size: 15px; }
  body #wrapper #top #links {
    left: 29%;
    top: 23px; }
    body #wrapper #top #links ul li {
      font-size: 22px; }
    body #wrapper #top #links #openModal {
      display: none !important;
      width: 100%;
      background: #000; }
  body #wrapper #page-content-wrapper .planets #mercury {
    position: absolute;
    max-width: 75px;
    left: 58%;
    top: 268px; }
    body #wrapper #page-content-wrapper .planets #mercury img {
      max-width: 30px; }
  body #wrapper #page-content-wrapper .planets #venus {
    position: absolute;
    max-width: 55px;
    left: 48%;
    top: 168px; }
  body #wrapper #page-content-wrapper .planets #earth {
    position: absolute;
    max-width: 53px;
    left: 15%;
    top: 156px; }
  body #wrapper #page-content-wrapper .planets #mars {
    position: absolute;
    max-width: 39px;
    left: 14%;
    top: 246px; }
  body #wrapper #page-content-wrapper .planets #jupiter {
    position: absolute;
    max-width: 56px;
    left: 29%;
    top: 317px; }
  body #wrapper #page-content-wrapper .planets #saturn {
    position: absolute;
    max-width: 60px;
    left: 48%;
    top: 350px; }
  body #wrapper #page-content-wrapper .planets #uranus {
    position: absolute;
    max-width: 64px;
    left: 67%;
    top: 343px; }
  body #wrapper #page-content-wrapper .planets #neptune {
    position: absolute;
    max-width: 73px;
    left: 74%;
    top: 189px; }
  body #wrapper #page-content-wrapper .planets #pluto {
    position: absolute;
    max-width: 45px;
    left: 85%;
    top: 320px; }
  body #wrapper #page-content-wrapper .planets .text p {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase; }
  body #wrapper .modal-content {
    padding: 10px 0 0 20px; }
  body #wrapper .background {
    margin-top: 0; } }

@media (max-width: 375px) {
  body #wrapper #page-content-wrapper .planets #mercury {
    position: absolute;
    max-width: 75px;
    left: 58%;
    top: 238px; }
    body #wrapper #page-content-wrapper .planets #mercury img {
      max-width: 30px; }
  body #wrapper #page-content-wrapper .planets #venus {
    position: absolute;
    max-width: 55px;
    left: 48%;
    top: 136px; }
  body #wrapper #page-content-wrapper .planets #earth {
    position: absolute;
    max-width: 53px;
    left: 15%;
    top: 122px; }
  body #wrapper #page-content-wrapper .planets #mars {
    position: absolute;
    max-width: 39px;
    left: 14%;
    top: 218px; }
  body #wrapper #page-content-wrapper .planets #jupiter {
    position: absolute;
    max-width: 56px;
    left: 29%;
    top: 279px; }
  body #wrapper #page-content-wrapper .planets #saturn {
    position: absolute;
    max-width: 60px;
    left: 48%;
    top: 324px; }
  body #wrapper #page-content-wrapper .planets #uranus {
    position: absolute;
    max-width: 55px;
    left: 70%;
    top: 331px; }
  body #wrapper #page-content-wrapper .planets #neptune {
    position: absolute;
    max-width: 73px;
    left: 74%;
    top: 162px; }
  body #wrapper #page-content-wrapper .planets #pluto {
    position: absolute;
    max-width: 45px;
    left: 85%;
    top: 279px; } }

@media (max-width: 325px) {
  body #wrapper #top #links {
    left: 25%; }
  body #wrapper #page-content-wrapper .planets #mercury {
    position: absolute;
    max-width: 63px;
    left: 54%;
    top: 217px; }
    body #wrapper #page-content-wrapper .planets #mercury img {
      max-width: 24px; }
  body #wrapper #page-content-wrapper .planets #venus {
    position: absolute;
    max-width: 44px;
    left: 48%;
    top: 122px; }
  body #wrapper #page-content-wrapper .planets #earth {
    position: absolute;
    max-width: 45px;
    left: 11%;
    top: 112px; }
  body #wrapper #page-content-wrapper .planets #mars {
    position: absolute;
    max-width: 36px;
    left: 14%;
    top: 194px; }
  body #wrapper #page-content-wrapper .planets #jupiter {
    position: absolute;
    max-width: 50px;
    left: 29%;
    top: 238px; }
  body #wrapper #page-content-wrapper .planets #saturn {
    position: absolute;
    max-width: 56px;
    left: 48%;
    top: 277px; }
  body #wrapper #page-content-wrapper .planets #uranus {
    position: absolute;
    max-width: 54px;
    left: 68%;
    top: 289px; }
    body #wrapper #page-content-wrapper .planets #uranus img {
      max-width: 44px;
      margin-left: 11px; }
  body #wrapper #page-content-wrapper .planets #neptune {
    position: absolute;
    max-width: 60px;
    left: 75%;
    top: 156px; }
  body #wrapper #page-content-wrapper .planets #pluto {
    position: absolute;
    max-width: 40px;
    left: 85%;
    top: 255px; }
  body #wrapper #page-content-wrapper .planets .text {
    width: 120%; }
    body #wrapper #page-content-wrapper .planets .text p {
      color: #fff;
      font-size: 13px;
      text-transform: uppercase; } }

